pynacl==1.5.0
pyperclip==1.8.2
git+https://git@github.com/TerraDharitri/drt-sdk-drtpy-core.git@v0.1.0#egg=drtpy_core
git+https://git@github.com/TerraDharitri/drt-sdk-drtpy-network-providers.git@main#egg=drtpy_network
git+https://git@github.com/TerraDharitri/drt-sdk-drtpy-wallet.git@v0.1.0#egg=drtpy_wallet
