toml>=0.10.2
types-toml
requests>=2.32.0,<3.0.0
types-requests
ledgercomm[hid]
rich==13.3.4
argcomplete==3.2.2

-e /home/dugong/Desktop/teja-work/my_python_works/py-team-repos/to_be_verified/level-1/drt-sdk-py/drt-py-sdk-1.2.0
