ipykernel
toml
debugpy
wget
-e /home/dugong/Desktop/teja-work/my_python_works/py-team-repos/to_be_verified/level-2/drt-py-sdk-cli/drt-py-sdk-cli-10.2.0
-e /home/dugong/Desktop/teja-work/my_python_works/py-team-repos/to_be_verified/level-1/drt-sdk-py/drt-py-sdk-1.2.0
